:root {
    --montserrat: 'Montserrat', sans-serif;
    --azul-claro: #EAF2FD;
    --branco-leve: #F5F5F5;
    --azul: #2A7AE4;
    --cinza-escuro: #505051;

    font-family: var(--montserrat);
}

html {
    font-family: var(--montserrat);
}

@media screen and (max-width: 768px){
    html{
        font-size: 13px;
    }
}