#formacoes-cursos{
    background-color: var(--azul-claro);
}

.formacoes-titulo{
    padding-top: 3vw;
    text-align: center;
}

.formacao-fig{
    background-color: #FFF;
    width: 18vw;
    height: 17vw;
    text-align: center;
}

.formacao-desc{
    font-weight: bold;
    color: var(--cinza-escuro);
    padding: 1vw 0 1.5vw 0;
}

.imersao-img{
    border-radius: 10px;
}

.unesp-img{
    width: 12vw; 
    padding-top: 3vw;
}

.imersao-desc{
    font-size: 0.85rem;
}

.formacao-instituto{
    font-size: 0.8rem;
}

@media screen and (min-width: 0){
    .formacoes-items{
        display: flex;
        flex-direction: column;
        padding: 2vw 5vw 8vw 5vw;
    }
    .formacao-fig{
        width: auto;
        height: 9rem;
    }

    .formacao-img {
        width: 12rem;
        margin-top: 2rem;
    }

    .formacao-desc{
        padding-top: 1rem;
    }

    .formacao-instituto{
        padding-bottom: 2rem;
    }

    .unesp-img {
        width: 7rem;
        padding-top: 3vw;
    }
}

/*@media screen and (min-width: 500px){
    .formacao-items{
        display: flex;
        flex-flow: row wrap;
        padding: 2vw 5vw;
        border: solid black;
    }

    .formacao-item{
        width: 20%;
        margin: 0 2%;
    }
}*/

@media screen and (min-width: 768px){
    .formacoes-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1vw 10vw 8vw 10vw;
    }

    .formacao-img{
        width: 12vw;
    }

    .unesp-img{
        width: 9vw; 
        padding-top: 1vw;
    }
}

