#formacoes-cursos{
    background-color: var(--azul-claro);
}

.formacoes-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 10vw 8vw 10vw;
}

.formacoes-titulo{
    padding-top: 3vw;
    text-align: center;
}

.formacao-fig{
    background-color: #FFF;
    width: 18vw;
    height: 17vw;
    text-align: center;
}

.formacao-img{
    padding-top: 5vw;
    width: 12vw;
}

.imersao-img{
    border-radius: 10px;
}

.unesp-img{
    width: 12vw; 
    padding-top: 3vw;
}

.formacao-desc{
    font-weight: bold;
    color: var(--cinza-escuro);
    padding: 1vw 0 1.5vw 0;
}

.imersao-desc{
    font-size: 0.85rem;
}

.formacao-instituto{
    font-size: 0.8rem;
}


@media screen and (max-width: 500px){
    .formacoes-items{
        display: flex;
        flex-wrap: wrap;
    }
}