#skills-hobbies{
    background-color: var(--branco-leve);
    padding: 3vw 0;
}


.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vw 4vw 10vw;
}

.skills-titulo{
    text-align: center;
}

.skills-figure{
    background-color: #FFFFFF;
    display: inline-block;
    width: 14vw;
    height: 12vw;
}

.skills-icone{
    padding-left: 1vw;
    position: relative;
    top: 7vw;
}

.skills-texto{
    padding-bottom: 2vw;
    padding-left: 1vw;
    position: relative;
    top: 8vw;
}
