header{
    padding-bottom: 2vw;
    padding: 2vw 10vw;
    background-color: var(--branco-leve);

}

.cabecalho-principal{
    margin-bottom: 3rem;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho-nome{
    display: inline-block;
}

.cabecalho-nav { 
    width: 500px;
    float: right;

    justify-content: space-between;
    text-align: justify;

    font-size: 0.8rem;
}

.cabecalho-lista{
    display: inline-block;
    margin-left: 1.5rem;
}

.cabecalho-lista a {
    text-decoration: none;
    color: black;
}

.cabecalho-secundario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho-descricao {
    width: 70%;
    display: inline-block;
    justify-content: space-between;
    vertical-align: top;
}

.cabecalho-titulo{
    color: var(--cinza-escuro);
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1rem 0;
}

.cabecalho-apresentacao{
    padding: 1rem 0;
    line-height: 1.3rem;
}

.cabecalho-foto{
    width: 20%;
    border-radius: 50%;
}

.cabecalho-social{
    display: inline-block;
    padding: 1rem 0;
    width: 100%;
}

.cabecalho-social_lista{
    display: inline-block;
    margin-right: 10%;
}

.cabecalho-icone_social{
    width: 2rem;
    transition: 0.5s all;
    
}

.cabecalho-icone_social:hover{
    transform: scale(1.4);
}

/* Seção Sobre mim ==================================================================================*/

#sobre-mim{
    background-color: var(--azul-claro);
}

.sobre-mim{
    width: 60vw;
    padding: 10vh 10vw;
    line-height: 1.5rem;
}

.titulo-secao{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 5rem;

    color: var(--cinza-escuro);
}

.sobre-descricao_1{
    margin-bottom: 2.5rem;
}

/*Seção Skills-Hobbies =====================================================================*/

#skills-hobbies{
    background-color: var(--branco-leve);
    padding: 3vw 0;
}


.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vw 4vw 10vw;
}

.skills-titulo{
    text-align: center;
}

.skills-figure{
    display: inline-block;
    width: 14vw;
    height: 12vw;
    background-color: #FFFFFF;
}

.skills-icone{
    position: relative;
    top: 7vw;
    padding-left: 1vw;
}

.skills-texto{
    position: relative;
    top: 8vw;
    padding-left: 1vw;
    padding-bottom: 2vw;
}


/*Seção Formações acadêmicas e complementares =====================================================*/

#formacoes-cursos{
    background-color: var(--azul-claro);
}

.formacoes-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 10vw 8vw 10vw;
}

.formacoes-titulo{
    padding-top: 3vw;
    text-align: center;
}

.formacao-fig{
    background-color: #FFF;
    width: 18vw;
    height: 17vw;
    text-align: center;
}

.formacao-img{
    padding-top: 5vw;
    width: 12vw;
}

.formacao-desc{
    font-weight: bold;
    color: var(--cinza-escuro);
    padding: 1vw 0 1.5vw 0;
}

.formacao-instituto{
    font-size: 0.8rem;
}