header{
    padding-bottom: 2vw;
    padding: 2vw 10vw;
    background-color: var(--branco-leve);

}

.cabecalho-principal{
    margin-bottom: 3rem;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho-nome{
    display: inline-block;
}

.cabecalho-nav { 
    width: 500px;
    float: right;

    justify-content: space-between;
    text-align: justify;

    font-size: 0.8rem;
}

.cabecalho-lista{
    display: inline-block;
    margin-left: 1.5rem;
}

.cabecalho-lista a {
    text-decoration: none;
    color: black;
}

.cabecalho-secundario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho-descricao {
    width: 70%;
    display: inline-block;
    justify-content: space-between;
    vertical-align: top;
}

.cabecalho-titulo{
    color: var(--cinza-escuro);
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1rem 0;
}

.cabecalho-apresentacao{
    padding: 1rem 0;
    line-height: 1.3rem;
}

.cabecalho-foto{
    width: 20%;
    border-radius: 50%;
}

.cabecalho-social{
    display: inline-block;
    padding: 1rem 0;
    width: 100%;
}

.cabecalho-social_lista{
    display: inline-block;
    margin-right: 10%;
}

.cabecalho-icone_social{
    width: 2rem;
    transition: 0.5s all;
    
}

.cabecalho-icone_social:hover{
    transform: scale(1.4);
}

/* Seção Sobre mim ==================================================================================*/

#sobre-mim{
    background-color: var(--azul-claro);
}

.sobre-mim{
    width: 60vw;
    padding: 10vh 10vw;
    line-height: 1.5rem;
}

.titulo-secao{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 5rem;

    color: var(--cinza-escuro);
}

.sobre-descricao_1{
    margin-bottom: 2.5rem;
}

/*Seção Skills-Hobbies =====================================================================*/

#skills-hobbies{
    background-color: var(--branco-leve);
    padding: 3vw 0;
}


.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vw 4vw 10vw;
}

.skills-titulo{
    text-align: center;
}

.skills-figure{
    display: inline-block;
    width: 14vw;
    height: 12vw;
    background-color: #FFFFFF;
}

.skills-icone{
    position: relative;
    top: 7vw;
    padding-left: 1vw;
}

.skills-texto{
    position: relative;
    top: 8vw;
    padding-left: 1vw;
    padding-bottom: 2vw;
}


/*Seção Formações acadêmicas e complementares =====================================================*/

#formacoes-cursos{
    background-color: var(--azul-claro);
}

.formacoes-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 10vw 8vw 10vw;
}

.formacoes-titulo{
    padding-top: 3vw;
    text-align: center;
}

.formacao-fig{
    background-color: #FFF;
    width: 18vw;
    height: 17vw;
    text-align: center;
}

.formacao-img{
    padding-top: 5vw;
    width: 12vw;
}

.imersao-img{
    border-radius: 10px;
}

.unesp-img{
    width: 12vw; 
    padding-top: 3vw;
}

.formacao-desc{
    font-weight: bold;
    color: var(--cinza-escuro);
    padding: 1vw 0 1.5vw 0;
}

.imersao-desc{
    font-size: 0.85rem;
}

.formacao-instituto{
    font-size: 0.8rem;
}


/*Seção Experiência Profissional ================================================================*/

#projetos{
    background-color: var(--branco-leve);
}

.projetos{
    padding: 1vw 10vw;
}

.projetos-titulo{
    text-align: center;
}

.projeto-area{
    padding-bottom: 4rem;
}

.projeto-img{
    width: 70%;
    display: inline-block;
}

.projeto-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projeto-img{
    width: 50vw;
}

.projeto-descricao{
    display: inline-block;
    padding-top: 80px;
}

.projeto-nome{
    font-weight: bold;
    color: var(--cinza-escuro);
    font-size: 1.2rem;
}

.projeto-fonte{
    font-size: 0.8rem;
}

.projeto-btn_repo{
    width: 8rem;
    height: 3rem;
    background-color: var(--branco-leve);
    color: var(--azul);
    border: 0.5px solid var(--azul);
}

.projeto-btn_repo:hover{
    transform: scale(1.1);
    color: green;
    cursor: pointer;
}

.projeto-btn_demo{
    width: 8rem;
    height: 3rem;
    background-color: var(--azul);
    color: var(--branco-leve);
    border: 0.5px solid var(--azul);
    margin-left: 1vw;
}

.projeto-btn_demo:hover{
    transform: scale(1.1);
    cursor: pointer;
}



/*Seção de Contato ===============================================================================*/

#contato{
    background-color: var(--azul-claro);
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vw 10vw 3vw 10vw;
}

.contato-img{
    height: 40rem;
}

.contato-titulo{
    font-weight: bold;
    color: var(--cinza-escuro);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.contato-descricao{
    padding-bottom: 2vw;
    line-height: 1.5rem;
}

.contato-campos{
    vertical-align: top;
    padding-left: 2rem;
}

.contato-campo{
    background-color: #FFF;
    height: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.contato-campo:focus{
    border-bottom: 1px solid var(--azul);
}

.campo{
    display: block;
}

.contato-nome, .contato-email{
    width: 98.5%;
    height: 55%;
    border: none;
}


.contato-nome:focus, .contato-email:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.contato-email:hover + .contato-nome{
    color: var(--azul);
}


.assunto{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.mensagem{
    width: 100%;
    height: 6rem;
    border: none;
    padding-bottom: 2rem;
}

.form-btn_enviar{
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    background-color: var(--azul);
    color: #FFF;
}